.follow-title {
  text-align: center;
  margin-bottom: 50px;
}
.follow-title h1 {
  font-size: 22px;
  font-weight: 200px;
}
.follow-title h5 {
  font-size: 15px;
  font-weight: 300px;
}
.follow-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
}
.follow-flex {
  display: flex;
  justify-content: center;
  align-items: center;
}
.follow-icon {
  font-size: 50px;
  margin-right: 30px;
}
.follow-description h3 {
  font-size: 15px;
  font-weight: 400;
}
.follow-description p {
  font-size: 15px;
  font-weight: 300;
  opacity: 0.9;
}
