.Footer {
  height: 10vh;
  background-color: #ccc;
  margin-top: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Footer__title {
  font-size: 1.6rem;
  font-weight: 400;
  color: rgba(0, 0, 0, 0.5);
}
