.Promo {
  position: relative;
}
.Promo__description {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffff;
  padding: 3rem;
  border-radius: 0.5rem;
  cursor: pointer;
}
.Promo__description > h3 {
  font-size: 1.2rem;
  font-weight: 500;
}
.Promo__description > h1 {
  font-size: 2rem;
}
.Promo__description:hover {
  padding: 4rem;
  border-radius: 0.4rem;
  transition: padding 0.2s;
}

@keyframes moveInOut {
  0% {
    transform: scale(-30px);
  }
  100% {
    transform: scale(0);
  }
}
@media (max-width: 575.98px) {
  .Promo__description > h3 {
    font-size: 4rem;
    font-weight: 500;
  }
  .Promo__description > h1 {
    font-size: 6rem;
  }
  .Promo__description {
    padding: 9rem;
  }
  html {
    font-size: 10.5%;
  }
}
