.promo {
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 35px;
}
.promo-description {
  position: absolute;
  z-index: 1;
  background-color: #ffff;
  padding: 30px;
  border-radius: 5px;
}
.promo-description h3 {
  font-size: 15px;
  font-weight: 500;
}
.promo-description h1 {
  font-size: 25px;
}
.promo-description:hover {
  padding: 35px;
  border-radius: 4px;
  transition: padding 0.1s;
}
