.Slider {
  position: relative;
}
.Slider__items {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.Slider__description {
  text-align: center;
  animation: slidein 0.8s ease-out;
}
.Slider__description--title-2 {
  font-size: 4rem;
  margin-bottom: 2rem;
  letter-spacing: 0.5rem;
  font-weight: 500;
}
.Slider__description--title-1 {
  font-size: 7rem;
  margin-bottom: 3rem;
  letter-spacing: 0.9rem;
  line-height: 7rem;
  font-weight: 600;
}

.Slider__description--paragraph {
  font-size: 1.9rem;
  font-weight: 300;
  margin-bottom: 3rem;
}
.Slider__button {
  font-size: 2rem !important;
  font-weight: 500;
  margin-bottom: 4rem;
}

@keyframes slidein {
  0% {
    opacity: 0;
    transform: translateY(-10rem);
  }

  100% {
    margin-bottom: 0%;
    width: 100%;
  }
}
@media (max-width: 576px) {
  html {
    font-size: 16.5%;
  }
}
@media (max-width: 767.98px) {
  html {
    font-size: 20%;
  }
}
@media (max-width: 991.98px) {
  html {
    font-size: 20%;
  }
}
