.trending p {
  font-size: 10px;
  opacity: 0.9;
  margin-top: 15px;
}
.trending h3 {
  font-size: 15px;
}
.trending h4 {
  font-size: 15px;
}

.trending {
  text-align: center;
  line-height: 1;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.trending Button {
  margin-bottom: 50px;
}
.trending .des-items {
  background-color: white;
  position: absolute;
  bottom: -10px;
  width: 300px;
  padding: 10px;
  transition: padding 0.9s;
}
@media (max-width: 576px) {
  .trending img {
    max-width: 90% !important;
    max-height: 90% !important;
  }
}
